@model WebBanHang.Models.KhachHang
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}

@section jsFooter{
    <script src="/Content/ClientLayout/js/Cart.js"></script>
}
<div class="content">
    <div class="login_panel">
        <h3>Thông tin đăng nhập</h3>
        <p>Nhập thông tin vào form đăng nhập.</p>
        @using (Html.BeginForm("Login", "Guest", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<input name="TaiKhoan" type="text" placeholder="Tài khoản" class="field">*@
            @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "field", @placeholder = "Tài khoản" } })
            @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "field", @placeholder = "Mật khẩu" } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            @*<input name="MatKhau" type="password" placeholder="Mật khẩu" class="field">*@

            <p class="note" style="margin-bottom:8px;">Quên mật khẩu? click <a href="#">here</a></p>
            <div class="buttons"><div><button class="grey">Sign In</button></div></div>
        }

    </div>
<div class="register_account">
    <h3>Tạo mới tài khoản</h3>
    <form>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div><input type="text" placeholder="Tài khoản"></div>
                        <div><input type="text" placeholder="Mật khẩu"></div>
                        <div><input type="text" placeholder="Họ tên"></div>
                        @*<div><input type="text" placeholder="Địa chỉ"></div>*@
                    </td>
                    <td>
                        <div><input type="text" placeholder="Số điện thoại"></div>
                        <div><input type="text" placeholder="Email"></div>
                        @*<div><input type="text" placeholder="Giới tính"></div>*@
                        <div>
                            <select name="GioiTinh" id="GioiTinh" style="width: 340px;">
                                <option value="">Chọn giới tính</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
                <div><input type="text" placeholder="Địa chỉ" style="width: 100%;"></div>

        <div class="search"><div><button class="grey">Create Account</button></div></div>
        @*<p class="terms">By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.</p>*@
        <div class="clear"></div>
    </form>
</div>
<div class="clear"></div>
    </div>