@using WebBanHang.Models;
@model IEnumerable<DonDatHang>

@{ ViewBag.Title = "Quản lý đơn hàng - Đã giao đã thanh toán";
    Layout = "~/Views/Layout/AdminLayout.cshtml"; }

<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="panel">
                <header class="panel-heading">
                    Quản lý đơn hàng
                </header>
                <div class="panel-body">
                    <ul class="nav nav-tabs" id="tab">
                        <li role="presentation"><a href="@Url.Action("ChoDuyet","QuanLyDonHang")">Chờ duyệt</a></li>
                        <li role="presentation"><a href="@Url.Action("DaGiaoChuaThanhToan","QuanLyDonHang")">Đã giao & chưa thanh toán</a></li>
                        <li role="presentation" class="active"><a href="@Url.Action("DaGiaoDaThanhToan","QuanLyDonHang")">Đã giao & đã thanh toán</a></li>
                    </ul>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Khách hàng</th>
                                <th>Ngày đặt</th>
                                <th>Tình trạng giao hàng</th>
                                <th>Thanh toán</th>
                                <th>Duyệt đơn hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>@item.MaDDH</td>
                    <td>@item.KhachHang.HoTen</td>
                    <td>@item.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                    <td>@(item.TinhTrangGiaoHang == true ? "Đã giao" : "Chưa giao")</td>
                    <td>@(item.DaThanhToan == true ? "Đã thanh toán" : "Chưa thanh toán")</td>
                    <td>@Html.ActionLink("Duyệt đơn hàng", "DuyetDonHang", new { id = item.MaDDH })</td>

                </tr>
}

                        </tbody>
                    </table>

                </div>
            </section>
        </div>
    </div>
</div>
<style>
    .nav > li {
        background: rgba(0,0,0,.5);
    }

    #tab {
        padding-left: 240px;
    }

    ul li a {
        color: white;
    }

    .nav-tabs > li.active > a {
        background-color: #aeecba;
    }
</style>