@using WebBanHang.Models
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
    IEnumerable<SanPham> lstSPNB = ViewBag.lstSPNB as IEnumerable<SanPham>;
    IEnumerable<SanPham> lstSPMoi = ViewBag.lstSPM as IEnumerable<SanPham>;
}
<style>
    .bt {
        width: 51% !important;
    }
</style>

@section jsFooter{
    <script src="/Content/ClientLayout/js/Cart.js"></script>
}
@section header_bottom
{
    <div class="header_bottom">
        <div class="header_bottom_left">
            <div class="section group">
                <div class="listview_1_of_2 images_1_of_2" style="height:158px;">
                    <div class="listimg listimg_2_of_1">
                        @*<a href="preview.html"> <img src="~/Content/HinhAnhSP/GalaxyS5.png" alt="" style="height:140px;"/></a>*@
                        <a href="/SanPham/Detail/@lstSPNB.ElementAt(0).MaSP"> <img src="@Url.Content("/Content/HinhAnhSP/" + lstSPNB.ElementAt(0).HinhAnh)" alt="" style="height:140px;" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>@lstSPNB.ElementAt(0).TenSP</h2>
                        @*<p>Lorem ipsum dolor sit amet sed do eiusmod.</p>*@
                        <br />
                        <div class="button">
                            <span>
                                <a href="/GioHang/ThemItemGioHang/@lstSPNB.ElementAt(0).MaSP" class="DSAddCart" data-id="@lstSPNB.ElementAt(0).MaSP">Add to Cart</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2" style="height:158px;">
                    <div class="listimg listimg_2_of_1">
                        <a href="/SanPham/Detail/@lstSPNB.ElementAt(1).MaSP"><img src="@Url.Content("/Content/HinhAnhSP/" + lstSPNB.ElementAt(1).HinhAnh)" style="height:140px;" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>@lstSPNB.ElementAt(1).TenSP</h2>
                        <br />
                        <div class="button">
                            <span>
                                <a href="/GioHang/ThemItemGioHang/@lstSPNB.ElementAt(1).MaSP" class="DSAddCart" data-id="@lstSPNB.ElementAt(1).MaSP">Add to Cart</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section group">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="/SanPham/Detail/@lstSPNB.ElementAt(2).MaSP"> <img src="@Url.Content("/Content/HinhAnhSP/" + lstSPNB.ElementAt(2).HinhAnh)" style="height:140px;" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>@lstSPNB.ElementAt(2).TenSP</h2>
                        <br />
                        <div class="button">
                            <span>
                                <a href="/GioHang/ThemItemGioHang/@lstSPNB.ElementAt(2).MaSP" class="DSAddCart" data-id="@lstSPNB.ElementAt(2).MaSP">Add to Cart</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="/SanPham/Detail/@lstSPNB.ElementAt(3).MaSP"><img src="@Url.Content("/Content/HinhAnhSP/" + lstSPNB.ElementAt(3).HinhAnh)" style="height:140px;" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>@lstSPNB.ElementAt(3).TenSP</h2>
                        <br />
                        <div class="button">
                            <span>
                                <a href="/GioHang/ThemItemGioHang/@lstSPNB.ElementAt(3).MaSP" class="DSAddCart" data-id="@lstSPNB.ElementAt(3).MaSP">Add to Cart</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_bottom_right_images">
            <!-- FlexSlider -->
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="~/Content/HinhAnhSP/1.jpg" alt="" /></li>
                        <li><img src="~/Content/HinhAnhSP/2.jpg" alt="" /></li>
                        <li><img src="~/Content/HinhAnhSP/3.jpg" alt="" /></li>
                        <li><img src="~/Content/HinhAnhSP/4.jpg" alt="" /></li>
                    </ul>
                </div>
            </section>
            <!-- FlexSlider -->
        </div>
        <div class="clear"></div>
    </div>
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Sản phẩm nổi bật</h3>
        </div>
        <div class="page-no">
            <p>
                <ul>
                    <li>[<a href="/SanPham/DanhSachSanPham"> Xem thêm >>></a>]</li>
                </ul>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @for (int i = 4; i < 8; i++)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="/SanPham/Detail/@lstSPNB.ElementAt(i).MaSP">
                    <img src="@Url.Content("/Content/HinhAnhSP/" + lstSPNB.ElementAt(i).HinhAnh)" alt="" style="height: 212px; width: 212px;" />
                </a>
                <h2>@lstSPNB.ElementAt(i).TenSP </h2>
                <p>@*<span class="strike">$528.22</span>*@<span class="price">@lstSPNB.ElementAt(i).DonGia.Value.ToString("N0") VND</span></p>

                <div class="button bt">
                    <span>
                        <img src="~/Content/HinhAnhSP/cart.jpg" alt="" />
                        <a href="/GioHang/ThemItemGioHang/@lstSPNB.ElementAt(i).MaSP" class="DSAddCart cart-button" data-id="@lstSPNB.ElementAt(i).MaSP">Add to Cart</a>
                    </span>
                </div>
                <div class="button">
                    <span>
                        <a href="/SanPham/Detail/@lstSPNB.ElementAt(i).MaSP" class="details">Details</a>
                    </span>
                </div>
            </div>

        }
        @*img width ko dc vượt quá 212 px*@

    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>Sản phẩm mới</h3>
        </div>
        <div class="page-no">
            <p>
                <ul>
                    <li>[<a href="/SanPham/DanhSachSanPham"> Xem thêm >>></a>]</li>
                </ul>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in lstSPMoi)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="/SanPham/Detail/@item.MaSP"><img src="@Url.Content("/Content/HinhAnhSP/" + item.HinhAnh)" style="height: 212px;" alt="" /></a>
                <h2>@item.TenSP </h2>
                <p><span class="price">@item.DonGia.Value.ToString("N0") VND</span></p>
                <div class="button bt">
                    <span>
                        <img src="~/Content/HinhAnhSP/cart.jpg" alt="" />
                        <a href="/GioHang/ThemItemGioHang/@item.MaSP" class="DSAddCart cart-button" data-id="@item.MaSP">Add to Cart</a>
                    </span>
                </div>
                <div class="button"><span><a href="/SanPham/Detail/@item.MaSP" class="details">Details</a></span></div>
            </div>
        }
    </div>
</div>

