@model WebBanHang.Models.NguoiDung
@{
    ViewBag.Title = "SuaThongTinNguoiDung";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<style>
    .error {
        color: red;
        font-weight: unset;
        font-size: 14px;
    }
</style>
<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="panel">
                <header class="panel-heading">
                    Sửa thông tin người dùng
                </header>
                <div class="panel-body">
                    <div class="form">
                        @using (Html.BeginForm("SuaThongTinNguoiDung", "QuanLyNguoiDung", FormMethod.Post, new { @class = "cmxform form-horizontal " }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MaNguoiDung)
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                @*hoten, dc*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-4 col-sm-4">
                                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-4 col-sm-4">
                                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*// email, sdt*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-4 col-sm-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-4 col-sm-4">
                                        @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @* taikhoan, mk *@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TaiKhoan, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-4 col-sm-4">
                                        @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-4 col-sm-4">
                                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @type = "password", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary" type="submit" id="submit">Save</button>
                                <a class="btn btn-default" id="cancel" href="/QuanLyNguoiDung/Index">Cancel</a>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>